<!DOCTYPE html>
<html>
    <head>
        {% block head %}    
        {% endblock %} 
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header class="links">
            <div class="pages">
                <a href="/teachers">Teachers</a>
                <a href="/students">Students</a>
            </div>
        </header>

        {% block content %}
        {% endblock %}
        
        <script src="/script.js"></script>

    </body>

</html>