@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root
{
    --primary-color:  rgba(0, 0, 0, 0.925);
    --secundary-color: #777aae
}

*
{
    margin: 0;
    padding: 0;
    border: none;
}

body 
{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

body .links
{
    background-color: white;
    padding: 25px;
}

body .links .pages
{
    text-align: center;
}

body .links .pages a
{
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
    color:  var(--primary-color);
    position: relative;
}

body .links .pages a + a 
{
    margin-left: 50px;
}

body .links .pages .active
{
    font-weight: bold;
}

body .links .pages a::after
{
    content: "";
    border-bottom: solid 2px var(--secundary-color);
    width: 0;
    position: absolute;
    left: 0;
    bottom: -4px;
}

body .links .pages a:hover::after
{
    width: 100%;
    transition: width 0.6s ease-in-out;
}

/* CARD */

.card 
{
    background-color: white;
    max-width: 800px;
    min-height: 500px;
    margin: 15px auto;
    box-shadow: -2px 2px 4px var(--secundary-color);
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    border-radius: 5px;
    animation: up;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}



.details
{
    padding: 20px;
}
.details h3 
{
    color: var(--secundary-color);
    font-size: 16px;
    line-height: 24px;
}

.details .item
{
    border-bottom: solid 2px rgba(0,0,0,0.4);
    padding: 14px 0;
}

.details .item div:nth-child(1)
{
    color: var(--secundary-color);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
    font-weight: bold;
}

.details .item div:nth-child(2)
{
    margin-top: 3px;
    color: rgba(0,0,0,0.4);
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
}

.details .item div:nth-child(6)
{
    color: red;
}


.details .item  span 
{
    background-color: var(--primary-color);
    padding: 6px 12px;
    border-radius: 25px;
    color: whitesmoke;
    margin-right: 10px;
    margin-top: 3px;
    display: inline-block;
}

.details .item:last-child
{
    border: none;
}


@keyframes up 
{
    from
    {
        opacity: 0;
        transform: translateY(20px);
    }
    to
    {
        opacity: 1;
    }
}


/* FORM */

input[type="url"],
input[type="text"]
{
    padding: 5px 0px;
    margin: 5px 0px -5px 0px;
    outline: none;
    width: 100%;
    color: #555;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}

#endItem
{
    margin-bottom: 10px;
}

input[type="date"],
.card select
{
    padding: 5px 0px;
    margin: 5px 0px -5px 0px;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0,0,0,0.4)
}

button[type='submit'],
button[type='button']
{
    width: 100%;
    padding: 10px 0px;
    background-color: var(--secundary-color);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    cursor: pointer;
    outline: none
}

button[type='submit']:hover,
button[type='button']:hover

{
    color: rgba(17, 16, 16, 0.945);
    font-weight: bold;
    transition:  0.5s;
}

body #form-delete
{
    color: white;
    margin-top: 15px;
    background: rgba(255, 0, 0, 0.795);
}

body #form-delete:hover 
{
    font-weight: normal;
    filter: brightness(70%);
}

/* Table Index */
.table-container 
{
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.card .newPerson {
    margin-bottom: 15px;
}

.card .newPerson a {
    text-decoration: none;
    background-color: #ff4f4f;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px -1px black;

}

.card .newPerson a:hover {
    box-shadow: -2px -2px 4px -1px black;
}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

th, td {
    padding: 10px;
    border-bottom: solid 2px #d9d9d9;
}

th {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
    line-height: 16px;
}

td {
    font-weight: bold;
    color: #444;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border: solid 2px white;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -2px black;
}

thead tr th:last-child {
    text-align: center;
}

tbody tr td:last-child {
    text-align: center;
}

tbody tr td:last-child a {
    text-decoration: none;
    color: white;
    background: #ff4f4f;
    font-weight: normal;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: -2px -2px 4px -1px black;
}

tbody tr td:last-child a:hover {
    box-shadow: 2px 2px 4px -1px black;
}


/* ESTUDANTES */
body #formacao {
    margin-bottom: 15px;
}

body #email input {
    outline: none;
    color: #444;
    padding: 2px 0px;
    font-size: 17px;
}

body #formacion {
    text-align: center;
}

body #formaction {
    margin-bottom: 20px;
}