{% extends 'layout.njk' %}

{% block head %}
    <title> Informações de {{ teachers.name }} </title>
{% endblock %}

{% block content %}

    <div class="card">
        <section 
            class="avatar"
            style='background: url({{teachers.avatar_url}}) no-repeat center center / cover'
        >  
        </section>

        <section class="details">

            <form method="POST" action="/teachers?_method=PUT">
        
                <h3> Editar Professor </h3>

                {% include 'teachers/fields.njk' %}    
                
                <!-- Se não estiver esse input hidden quando clicar em salvar alterações 
                não irá funcionar, não encontrará o id do professor -->
                <input type="hidden" name="id" value="{{ teachers.id }}">

            </form>

            <form id="confirm-delete" action="/teachers?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="{{ teachers.id }}">
                <button id="form-delete" type="submit">Deletar</button>
            </form>
            
        </section>

        {% include 'students/deleteMember.njk' %}
        
    </div>
    

    

{% endblock %}